@import "main.css";

* {
    border: none;
    font-family: "DaddyTimeMono Nerd Font Propo", "JetBrains Mono Nerd Font Propo", Arial, sans-serif;
    font-size: 14px;

    min-height: 0;
    margin: 0;
    padding: 0;
}

.modules-center {
  background: #121212;
  padding: 0 5px;
  border-radius: 100px;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#workspaces {
  background: @black;
  border-radius: 100px;
}

#workspaces button {
    transition: all 200ms ease-in-out;
    padding: 0 5px;
    border-radius: 100px;
    background: @black;
    color: @white;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
  min-width: 50px;
  background-color: @workspace-active-bg;
  color: @black
}

#custom-power,
#pulseaudio,
#network,
#battery {
  padding: 0 5px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #121212;
}

#battery {
  color: @battery-colour;
}

#pulseaudio {
  color: @audio-colour;
}

#clock {
    background-color: @clock-colour;
    color: white;
    font-weight: 700;
    margin: 0 10px;
}

#network {
  color: @network-colour;
}

#custom-power {
    color: #f38ba8;
    background-color: transparent;
}

#custom-power:hover {
    text-shadow: 0 0 5px #f38ba8, 0 0 12px #f38ba8; 
}
